$sides: "", "-top", "-right", "-bottom", "-left";

@each $side in $sides{
  .dotted#{$side}-border {border-#{$side}-style: dotted;}
  .dashed-#{$side}-border {border-#{$side}-style: dashed;}
  .solid-#{$side}-border {border-#{$side}-style: solid;}
  .double-#{$side}-border {border-#{$side}-style: double;}
  .groove-#{$side}-border {border-#{$side}-style: groove;}
  .ridge-#{$side}-border {border-#{$side}-style: ridge;}
  .inset-#{$side}-border {border-#{$side}-style: inset;}
  .outset-#{$side}-border {border-#{$side}-style: outset;}
  .none-#{$side}-border {border-#{$side}-style: none;}
  .hidden-#{$side}-border {border-#{$side}-style: hidden;}
  
  .thin-#{$side}-border {border-#{$side}-width: thin;}
  .medium-#{$side}-border {border-#{$side}-width: medium;}
  .thick-#{$side}-border {border-#{$side}-width: thick;}
}

.border {
  border: 1px solid lightgray;
}

.border-0 {
  border: 0;
}

.border-top {
  border-top: 1px solid lightgray;
}

.border-top-0 {
  border-top: 0;
}

.border-end {
  border-right: 1px solid lightgray;
}

.border-end-0 {
  border-right: 0;
}

.border-bottom {
  border-bottom: 1px solid lightgray;
}

.border-bottom-0 {
  border-bottom: 0;
}

.border-start {
  border-left: 1px solid lightgray;
}

.border-start-0 {
  border-left: 0;
}

.rounded {
  border-radius: 0.25rem;
}

.rounded-0 {
  border-radius: 0;
}

.rounded-1 {
  border-radius: 0.2rem;
}

.rounded-2 {
  border-radius: 0.25rem;
}

.rounded-3 {
  border-radius: 0.3rem;
}

.rounded-circle {
  border-radius: 50%;
}

.rounded-pill {
  border-radius: 50rem;
}

.rounded-top {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.rounded-end {
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.rounded-bottom {
  border-bottom-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.rounded-start {
  border-bottom-left-radius: 0.25rem;
  border-top-left-radius: 0.25rem;
}
