$dark-hover-overlay: 4%;
$dark-focus-overlay: 12%;
$dark-selected-overlay: 8%;
$dark-activated-overlay: 12%;
$dark-pressed-overlay: 12%;
$dark-dragged-overlay: 8%;

$light-hover-overlay: 8%;
$light-focus-overlay: 24%;
$light-selected-overlay: 16%;
$light-activated-overlay: 24%;
$light-pressed-overlay: 32%;
$light-dragged-overlay: 16%;

$image-hover-overlay: 12%;
$image-focus-overlay: 36%;
$image-selected-overlay: 24%;
$image-activated-overlay: 36%;
$image-pressed-overlay: 48%;
$image-dragged-overlay: 32%;

$overlay-base: "<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' style='background-color:rgba(r,g,b,a);'></svg>";

$dark-hover-overlay-image:     "%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' style='background-color:rgba(0,0,0,#{$dark-hover-overlay/100%});'%3E%3C/svg%3E";
$dark-focus-overlay-image:     "%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' style='background-color:rgba(0,0,0,#{$dark-focus-overlay/100%});'%3E%3C/svg%3E";
$dark-selected-overlay-image:  "%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' style='background-color:rgba(0,0,0,#{$dark-selected-overlay/100%});'%3E%3C/svg%3E";
$dark-activated-overlay-image: "%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' style='background-color:rgba(0,0,0,#{$dark-activated-overlay/100%});'%3E%3C/svg%3E";
$dark-pressed-overlay-image:   "%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' style='background-color:rgba(0,0,0,#{$dark-pressed-overlay/100%});'%3E%3C/svg%3E";
$dark-dragged-overlay-image:   "%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' style='background-color:rgba(0,0,0,#{$dark-dragged-overlay/100%});'%3E%3C/svg%3E";

$light-hover-overlay-image:     "%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' style='background-color:rgba(255,255,255,#{$light-hover-overlay/100%});'%3E%3C/svg%3E";
$light-focus-overlay-image:     "%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' style='background-color:rgba(255,255,255,#{$light-focus-overlay/100%});'%3E%3C/svg%3E";
$light-selected-overlay-image:  "%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' style='background-color:rgba(255,255,255,#{$light-selected-overlay/100%});'%3E%3C/svg%3E";
$light-activated-overlay-image: "%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' style='background-color:rgba(255,255,255,#{$light-activated-overlay/100%});'%3E%3C/svg%3E";
$light-pressed-overlay-image:   "%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' style='background-color:rgba(255,255,255,#{$light-pressed-overlay/100%});'%3E%3C/svg%3E";
$light-dragged-overlay-image:   "%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' style='background-color:rgba(255,255,255,#{$light-dragged-overlay/100%});'%3E%3C/svg%3E";

$image-hover-overlay-image:     "%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' style='background-color:rgba(0,0,0,#{$image-hover-overlay/100%});'%3E%3C/svg%3E";
$image-focus-overlay-image:     "%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' style='background-color:rgba(0,0,0,#{$image-focus-overlay/100%});'%3E%3C/svg%3E";
$image-selected-overlay-image:  "%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' style='background-color:rgba(0,0,0,#{$image-selected-overlay/100%});'%3E%3C/svg%3E";
$image-activated-overlay-image: "%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' style='background-color:rgba(0,0,0,#{$image-activated-overlay/100%});'%3E%3C/svg%3E";
$image-pressed-overlay-image:   "%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' style='background-color:rgba(0,0,0,#{$image-pressed-overlay/100%});'%3E%3C/svg%3E";
$image-dragged-overlay-image:   "%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' style='background-color:rgba(0,0,0,#{$image-dragged-overlay/100%});'%3E%3C/svg%3E";

// Grid
$breakpoints: (
  "" : 0,
  sm : 576px,
  md : 768px,
  lg : 992px,
  xl : 1200px,
  xxl: 1400px
);
$columns: 12;
$row-columns: 6;
$gutters: (
  0: 0,
  1: 0.25rem,
  2: 0.5rem,
  3: 1rem,
  4: 1.5rem,
  5: 3rem,
);

//Colors
$colors: (
  red-50: #ffebee,
  red-100: #ffcdd2,
  red-200: #ef9a9a,
  red-300: #e57373,
  red-400: #ef5350,
  red-500: #f44336,
  red-600: #e53935,
  red-700: #d32f2f,
  red-800: #c62828,
  red-900: #b71c1c,
  red-A100: #ff8a80,
  red-A200: #ff5252,
  red-A400: #ff1744,
  red-A700: #d50000,
  pink-50: #fce4ec,
  pink-100: #f8bbd0,
  pink-200: #f48fb1,
  pink-300: #f06292,
  pink-400: #ec407a,
  pink-500: #e91e63,
  pink-600: #d81b60,
  pink-700: #c2185b,
  pink-800: #ad1457,
  pink-900: #880e4f,
  pink-A100: #ff80ab,
  pink-A200: #ff4081,
  pink-A400: #f50057,
  pink-A700: #c51162,
  purple-50: #f3e5f5,
  purple-100: #e1bee7,
  purple-200: #ce93d8,
  purple-300: #ba68c8,
  purple-400: #ab47bc,
  purple-500: #9c27b0,
  purple-600: #8e24aa,
  purple-700: #7b1fa2,
  purple-800: #6a1b9a,
  purple-900: #4a148c,
  purple-A100: #ea80fc,
  purple-A200: #e040fb,
  purple-A400: #d500f9,
  purple-A700: #aa00ff,
  deeppurple-50: #ede7f6,
  deeppurple-100: #d1c4e9,
  deeppurple-200: #b39ddb,
  deeppurple-300: #9575cd,
  deeppurple-400: #7e57c2,
  deeppurple-500: #673ab7,
  deeppurple-600: #5e35b1,
  deeppurple-700: #512da8,
  deeppurple-800: #4527a0,
  deeppurple-900: #311b92,
  deeppurple-A100: #b388ff,
  deeppurple-A200: #7c4dff,
  deeppurple-A400: #651fff,
  deeppurple-A700: #6200ea,
  indigo-50: #e8eaf6,
  indigo-100: #c5cae9,
  indigo-200: #9fa8da,
  indigo-300: #7986cb,
  indigo-400: #5c6bc0,
  indigo-500: #3f51b5,
  indigo-600: #3949ab,
  indigo-700: #303f9f,
  indigo-800: #283593,
  indigo-900: #1a237e,
  indigo-A100: #8c9eff,
  indigo-A200: #536dfe,
  indigo-A400: #3d5afe,
  indigo-A700: #304ffe,
  blue-50: #e3f2fd,
  blue-100: #bbdefb,
  blue-200: #90caf9,
  blue-300: #64b5f6,
  blue-400: #42a5f5,
  blue-500: #2196f3,
  blue-600: #1e88e5,
  blue-700: #1976d2,
  blue-800: #1565c0,
  blue-900: #0d47a1,
  blue-A100: #82b1ff,
  blue-A200: #448aff,
  blue-A400: #2979ff,
  blue-A700: #2962ff,
  lightblue-50: #e1f5fe,
  lightblue-100: #b3e5fc,
  lightblue-200: #81d4fa,
  lightblue-300: #4fc3f7,
  lightblue-400: #29b6f6,
  lightblue-500: #03a9f4,
  lightblue-600: #039be5,
  lightblue-700: #0288d1,
  lightblue-800: #0277bd,
  lightblue-900: #01579b,
  lightblue-A100: #80d8ff,
  lightblue-A200: #40c4ff,
  lightblue-A400: #00b0ff,
  lightblue-A700: #0091ea,
  cyan-50: #e0f7fa,
  cyan-100: #b2ebf2,
  cyan-200: #80deea,
  cyan-300: #4dd0e1,
  cyan-400: #26c6da,
  cyan-500: #00bcd4,
  cyan-600: #00acc1,
  cyan-700: #0097a7,
  cyan-800: #00838f,
  cyan-900: #006064,
  cyan-A100: #84ffff,
  cyan-A200: #18ffff,
  cyan-A400: #00e5ff,
  cyan-A700: #00b8d4,
  teal-50: #e0f2f1,
  teal-100: #b2dfdb,
  teal-200: #80cbc4,
  teal-300: #4db6ac,
  teal-400: #26a69a,
  teal-500: #009688,
  teal-600: #00897b,
  teal-700: #00796b,
  teal-800: #00695c,
  teal-900: #004d40,
  teal-A100: #a7ffeb,
  teal-A200: #64ffda,
  teal-A400: #1de9b6,
  teal-A700: #00bfa5,
  green-50: #e8f5e9,
  green-100: #c8e6c9,
  green-200: #a5d6a7,
  green-300: #81c784,
  green-400: #66bb6a,
  green-500: #4caf50,
  green-600: #43a047,
  green-700: #388e3c,
  green-800: #2e7d32,
  green-900: #1b5e20,
  green-A100: #b9f6ca,
  green-A200: #69f0ae,
  green-A400: #00e676,
  green-A700: #00c853,
  lightgreen-50: #f1f8e9,
  lightgreen-100: #dcedc8,
  lightgreen-200: #c5e1a5,
  lightgreen-300: #aed581,
  lightgreen-400: #9ccc65,
  lightgreen-500: #8bc34a,
  lightgreen-600: #7cb342,
  lightgreen-700: #689f38,
  lightgreen-800: #558b2f,
  lightgreen-900: #33691e,
  lightgreen-A100: #ccff90,
  lightgreen-A200: #b2ff59,
  lightgreen-A400: #76ff03,
  lightgreen-A700: #64dd17,
  lime-50: #f9fbe7,
  lime-100: #f0f4c3,
  lime-200: #e6ee9c,
  lime-300: #dce775,
  lime-400: #d4e157,
  lime-500: #cddc39,
  lime-600: #c0ca33,
  lime-700: #afb42b,
  lime-800: #9e9d24,
  lime-900: #827717,
  lime-A100: #f4ff81,
  lime-A200: #eeff41,
  lime-A400: #c6ff00,
  lime-A700: #aeea00,
  yellow-50: #fffde7,
  yellow-100: #fff9c4,
  yellow-200: #fff59d,
  yellow-300: #fff176,
  yellow-400: #ffee58,
  yellow-500: #ffeb3b,
  yellow-600: #fdd835,
  yellow-700: #fbc02d,
  yellow-800: #f9a825,
  yellow-900: #f57f17,
  yellow-A100: #ffff8d,
  yellow-A200: #ffff00,
  yellow-A400: #ffea00,
  yellow-A700: #ffd600,
  amber-50: #fff8e1,
  amber-100: #ffecb3,
  amber-200: #ffe082,
  amber-300: #ffd54f,
  amber-400: #ffca28,
  amber-500: #ffc107,
  amber-600: #ffb300,
  amber-700: #ffa000,
  amber-800: #ff8f00,
  amber-900: #ff6f00,
  amber-A100: #ffe57f,
  amber-A200: #ffd740,
  amber-A400: #ffc400,
  amber-A700: #ffab00,
  orange-50: #fff3e0,
  orange-100: #ffe0b2,
  orange-200: #ffcc80,
  orange-300: #ffb74d,
  orange-400: #ffa726,
  orange-500: #ff9800,
  orange-600: #fb8c00,
  orange-700: #f57c00,
  orange-800: #ef6c00,
  orange-900: #e65100,
  orange-A100: #ffd180,
  orange-A200: #ffab40,
  orange-A400: #ff9100,
  orange-A700: #ff6d00,
  deeporange-50: #fbe9e7,
  deeporange-100: #ffccbc,
  deeporange-200: #ffab91,
  deeporange-300: #ff8a65,
  deeporange-400: #ff7043,
  deeporange-500: #ff5722,
  deeporange-600: #f4511e,
  deeporange-700: #e64a19,
  deeporange-800: #d84315,
  deeporange-900: #bf360c,
  deeporange-A100: #ff9e80,
  deeporange-A200: #ff6e40,
  deeporange-A400: #ff3d00,
  deeporange-A700: #dd2c00,
  brown-50: #efebe9,
  brown-100: #d7ccc8,
  brown-200: #bcaaa4,
  brown-300: #a1887f,
  brown-400: #8d6e63,
  brown-500: #795548,
  brown-600: #6d4c41,
  brown-700: #5d4037,
  brown-800: #4e342e,
  brown-900: #3e2723,
  gray-50: #fafafa,
  gray-100: #f5f5f5,
  gray-200: #eeeeee,
  gray-300: #e0e0e0,
  gray-400: #bdbdbd,
  gray-500: #9e9e9e,
  gray-600: #757575,
  gray-700: #616161,
  gray-800: #424242,
  gray-900: #212121,
  bluegray-50: #eceff1,
  bluegray-100: #cfd8dc,
  bluegray-200: #b0bec5,
  bluegray-300: #90a4ae,
  bluegray-400: #78909c,
  bluegray-500: #607d8b,
  bluegray-600: #546e7a,
  bluegray-700: #455a64,
  bluegray-800: #37474f,
  bluegray-900: #263238,
  black: #000000,
  white: #ffffff,
);

// Buttons
$button-min-width: 3rem;
$button-pad-y: 0.375rem;
$button-pad-x: 0.75rem;
$button-font-size: 1rem;
$button-background-color: transparent;
$button-border-width: 1px;
$button-border-color: map-get($colors, gray-500);

// Cards
$card-pad-y: 0.75rem;
$card-pad-x: 0.75rem;
$card-background-color: transparent;
$card-border-width: 1px;
$card-border-color: map-get($colors, gray-500);

// Images
$thumbnail-pad: 0.3rem;
$thumbnail-border-width: 1px;
$thumbnail-border-color: map-get($colors, gray-500);

// Tables
$table-pad-y: 0.375rem;
$table-pad-x: 0.75rem;
$table-background-color: transparent;
$table-striped-background-color: map-get($colors, gray-50);
$table-hover-background-color: map-get($colors, gray-100);
$table-border-width: 1px;
$table-border-color: map-get($colors, gray-500);
$table-header-border-width: 2px;
$table-header-border-color: map-get($colors, gray-600);

// Input
$input-pad-y: 0.75rem;
$input-pad-x: 0.75rem;
$input-font-size: 1rem;
$input-border-width: 1px;
$input-border-color: map-get($colors, gray-50);

// Check Box
$checkbox-border-width: 1px;
$checkbox-border-color: map-get($colors, gray-500);
$checkbox-width: 1.125rem;
$checkbox-height: 1.125rem;
$checkbox-checked-icon: "%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Cpath fill='none' stroke='%23000' stroke-width='3' d='M6 10l3 3l6-6'/%3E%3C/svg%3E";
$checkbox-indeterminate-icon: "%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Cpath fill='none' stroke='%23000' stroke-width='3' d='M6 10l3 3l6-6'/%3E%3C/svg%3E";
$checkbox-checked-light-icon: "%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Cpath fill='none' stroke='%23fff' stroke-width='3' d='M6 10l3 3l6-6'/%3E%3C/svg%3E";
$checkbox-indeterminate-light-icon: "%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Cpath fill='none' stroke='%23fff' stroke-width='3' d='M6 10l3 3l6-6'/%3E%3C/svg%3E";

// Radio Button
$radiobutton-border-width: 1px;
$radiobutton-border-color: map-get($colors, gray-500);
$radiobutton-width: 1.125rem;
$radiobutton-height: 1.125rem;
$radiobutton-checked-icon: "%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3E%3Ccircle r='2' fill='%23000'/%3E%3C/svg%3E";
$radiobutton-checked-light-icon: "%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3E%3Ccircle r='2' fill='%23fff'/%3E%3C/svg%3E";

// Select
$select-pad-y: 0.375rem;
$select-pad-x: 0.75rem;
$select-min-width: 5.25rem;
$select-max-width: 13.125rem;
$select-font-size: 1rem;
$select-border-width: 1px;
$select-border-color: map-get($colors, gray-500);
$select-icon: "%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 16'%3E%3Cpath d='M2 5l6 6 6-6'/%3E%3C/svg%3E";
$select-light-icon: "%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 16'%3E%3Cpath fill='%23fff' d='M2 5l6 6 6-6'/%3E%3C/svg%3E";
